project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
bin/
obj/
packages/
Binaries/
Installer/
.vs/
StaticFiles/
Inno Setup 6/

*.SetupLog.txt
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.pdb
*.cache
*.lref
*.csproj.FileAbsolute.txt
*.lref
*.cache
*.suo
*.vsp
*.psess
*.vs/
